{{log logged_in}}
{{log userId}}
<div class="box">
<div>
<div class="row justify-space-between-md">
  <div class="login-card container">
    <h2 class="page-title">New Trip</h2>
    <form id="trip-form"class="form">
      <div class="form-group">
        <label for="email-login">Trip Name:</label>
        <input id="trip-name"class="form-control form-control-lg" type="text" placeholder=".form-control-lg">
      </div>
      <div class="form-group">
        <label for="password-login">Destination:</label>
        <input id="destination"class="form-control" type="text" placeholder="Default input">
      </div>
      <div class="form-group">
        <button id="create-trip" class="btn btn-primary" type="submit">Create Trip</button>
      </div>
    </form>
  </div>
  </div>
<script src="/js/dashboard.js"></script>