<h1>Your Trips</h1>

<div class="container-box">
    <div class="flight-card">
              <div class="flight-card-header">
                <h1>My's Wedding</h1>
              </div>
                <p>
                  Destination:
                  Las Vegas               
                </p>
                <h2>Flights</h2>
                    <p>* From Seattle arrives at 00:44 AM 3/30/23</p>
                    <p>* From Las Angeles arrives at 23:35 PM 3/29/23</p>
                    <p>* From Atlanta arrives at 00:12 AM 3/30/23</p>
                    <p>* From Chicago arrives at 00:59 AM 3/30/23</p>
      </div>
      <div class="flight-card">
              <div class="flight-card-header">
                <h1>Fred's Funeral</h1>
              </div>
                <p>
                  Destination:
                  Las Angeles               
                </p>
                <h2>Flights</h2>
                    <p>* From Seattle arrives at 12:00 PM 3/31/23</p>
                    
      </div>
  </div>
  <br>
  <br>
