<div class="create-container">
    <h2>Create a Flight</h2>
<label for="departure-select">Departing From:</label>

<select id="departure">
    <option>--Please choose a city--</option>
     <option value="ABQ" class="data-code=ABQ">Albuquerque</option>
    <option value="ATL" class="data-code=ATL">Atlanta</option>
    <option value="DFW" class="data-code=DFW">Dallas</option>
    <option value="DEN" class="data-code=DEN">Denver</option>
    <option value="ATL" class="data-code=ATL">Atlanta</option>
    <option value="ORD" class="data-code=ORD">Chicago</option>
    <option value="LAX" class="data-code=LAX">Los Angeles</option>
    <option value="MCO" class="data-code=MCO">Orlando</option>
    <option value="LAS" class="data-code=LAS">Las Vegas</option>
    <option value="MIA" class="data-code=MIA">Miami</option>
    <option value="PHX" class="data-code=PHX">Phoenix</option>
    <option value="SEA" class="data-code=SEA">Seattle</option>
    <option value="IAH" class="data-code=IAH">Houston</option>
    <option value="JFK" class="data-code=JFK">New York City</option>
    <option value="PHL" class="data-code=IAH">Philadelphia</option>
    <option value="SFO" class="data-code=SFO">San Francisco</option>
    <option value="BOS" class="data-code=BOS">Boston</option>

</select>
<label for="arrival-select">Destination:</label>

<select id="arrival">
    <option value="">--Please choose an option--</option>
    <option value="ABQ" class="data-code=ABQ">Albuquerque</option>
    <option value="ATL" class="data-code=ATL">Atlanta</option>
    <option value="DFW" class="data-code=DFW">Dallas</option>
    <option value="DEN" class="data-code=DEN">Denver</option>
    <option value="ATL" class="data-code=ATL">Atlanta</option>
    <option value="ORD" class="data-code=ORD">Chicago</option>
    <option value="LAX" class="data-code=LAX">Los Angeles</option>
    <option value="MCO" class="data-code=MCO">Orlando</option>
    <option value="LAS" class="data-code=LAS">Las Vegas</option>
    <option value="MIA" class="data-code=MIA">Miami</option>
    <option value="PHX" class="data-code=PHX">Phoenix</option>
    <option value="SEA" class="data-code=SEA">Seattle</option>
    <option value="IAH" class="data-code=IAH">Houston</option>
    <option value="JFK" class="data-code=JFK">New York City</option>
    <option value="PHL" class="data-code=IAH">Philadelphia</option>
    <option value="SFO" class="data-code=SFO">San Francisco</option>
    <option value="BOS" class="data-code=BOS">Boston</option>

</select>
<label for="departure-date-">Arrival Date:</label>

<select id="departure-date">
    <option value="">--Please choose an option--</option>
    <option value="2023-03-26" class="data-code=ABQ">2023-03-26</option>
   
</select>
<button id="find-button" class="find-button">Find Flights</button>
</div>
<script
      src="/js/search.js"></script>
