<div class="create-container">
    <h2>Create A Group Travel Plan</h2>
    <div class="dropdown-center">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Where are you going?
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" data-code='ALB' href="#">Albany</a></li>
    <li><a class="dropdown-item" href="#">ABQ</a></li>
    <li><a class="dropdown-item" href="#">ANC</a></li>
    <li><a class="dropdown-item" href="#">AVL</a></li>
    <li><a class="dropdown-item" href="#">DFW</a></li>
    <li><a class="dropdown-item" href="#">DEN</a></li>
    <li><a class="dropdown-item" href="#">ATL</a></li>
    <li><a class="dropdown-item" href="#">DFW</a></li>
    <li><a class="dropdown-item" href="#">DEN</a></li>
  </ul>
</div>
     <div class="dropdown-center">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Where are flying from?
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">ALB</a></li>
    <li><a class="dropdown-item" href="#">ABQ</a></li>
    <li><a class="dropdown-item" href="#">ANC</a></li>
    <li><a class="dropdown-item" href="#">AVL</a></li>
    <li><a class="dropdown-item" href="#">DFW</a></li>
    <li><a class="dropdown-item" href="#">DEN</a></li>
    <li><a class="dropdown-item" href="#">ATL</a></li>
    <li><a class="dropdown-item" href="#">DFW</a></li>
    <li><a class="dropdown-item" href="#">DEN</a></li>
  </ul>
</div>
<button class="find-button">Find Flights</button>
</div>
